@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.App {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ==============================
===========    NAVBAR    ========
=============================== */

.navbar-main {
  width: 100%;
  margin: 0;
  padding: 0;
  height: max-content !important;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed !important;
  z-index: 1000 !important;
  top: 0;
}

nav {
  display: flex !important;
  justify-content: space-around !important;
  align-items: center !important;
  height: max-content !important;
  width: 100%;
  padding: 5px 5px !important;
  /* height: 100px !important; */
  padding: 20px 0px !important;
}

.navbar-brand {
  width: max-content;
  font-weight: 800;
  font-size: 22px;
}

/* .navbar-collapse.collapse{
  display: flex;
  justify-content: center;
} */

.navbar-collapse.collapse a {
  color: black !important;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}

/* .navbar-collapse.collapse a {
  letter-spacing: 0.15em;
  
  display: inline-block;
} */
.navbar-collapse a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 0%;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
/* .navbar-collapse.collapse a:after:nth-child(3):hover {    
  background: red;
} */

.navbar-collapse a:hover:after {
  width: 100%;
  left: 0;
}

.navbar-collapse.collapse a:nth-child(3) {
  color: red !important;
}

.navbar-collapse.collapse .navbar-nav {
  width: 100% !important;
  display: flex !important;
  justify-content: space-around !important;
  align-items: center !important;
}

.navbar-toggler {
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.navbar-toggler:focus {
  outline: none;
}

/* .navbar-light .navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%1, 1, 1, 1%100' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
} */

.MuiSvgIcon-root {
  width: 15%;
  cursor: pointer;
  margin: 2px 5px;
  z-index: 1;
}

.MuiSvgIcon-root:hover {
  color: rgb(218, 186, 6) !important;
}

/* ===================================
===========   CAROUSEL   =============
=================================== */

.HomePageCarousel {
  width: 100%;
  height: 90vh;
  margin: 10vh 0;
  /* background: black; */
}

.carousel.slide {
  height: 100%;
}

/* .carousel-indicators{
  height: 100%;
} */

.carousel-inner {
  height: 100%;
}

.carousel-inner .carousel-item {
  height: 100%;
  width: 100%;
}

.carousel-inner .carousel-item img {
  height: 100%;
  width: 100%;
}

.carousel-caption {
  top: 45%;
}

.carousel-caption h3 {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.carousel-caption p {
  font-size: 16px;
  font-weight: 500;
  /* text-transform: uppercase; */
}

/*============================================
=================  FeaturedCol   ============
========================================== */

.FeaturedCol {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.FeaturedCol h2,
.Gallery h2 {
  width: 50%;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  height: max-content;
  margin: 5px 0px;
  text-transform: uppercase;
}

.featuredCol-cards {
  width: 80% !important;
  margin: 5% auto;
  height: max-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.featured-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(197, 197, 197, 0.801);
  border-radius: 15px;
  margin: 25px 0px;
  transition: 0.2s ease;
}

.featured-card:hover {
  border: 1px solid rgba(143, 143, 143, 0.801);
  box-shadow: 2px 2px 5px rgba(190, 190, 190, 0.801);
}

.featured-card-image {
  width: 100%;
  height: 300px;
}

.featured-card-image img {
  width: 100%;
  height: 100%;
  border: none;
  box-shadow: none;
  border-radius: 15px 15px 0px 0px;
}

.featured-card-title h4 {
  text-transform: uppercase;
  font-size: 1.3rem;
  margin: 30px 0px 5px 0px;
}

.featured-card-price h4 {
  margin: 5px 0px;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0px 5px 0px;
}

.featured-card-router-button {
  display: flex;
  margin: 5px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
}

.view,
.add-to-cart {
  margin: 2px 5px;
}

.view a {
  font-size: 20px;
  color: black;
  font-weight: 600;
}

.add-to-cart a {
  font-size: 30px;
  color: black;
}

/* ========================================
===============    photo_gallery    ======
========================================= */

.Gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: max-content;
  max-width: 100%;
  padding-top: 20px;
}

.Gallery .photo_gallery {
  width: 90%;
  height: max-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.Gallery .photo_gallery .ind-pic {
  width: 100%;
  height: 500px;
  margin: 5px;
}

.photo_gallery img {
  width: 100%;
  height: 100%;
}

/*=====================================
===========   FOOTER   ================
===================================== */

Footer {
  margin-top: 50px;
  width: 100%;
  height: max-content;
  padding: 50px 20px;
  background-color: rgba(0, 0, 0, 0.904);
}

.footer {
  width: 70%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer h4 {
  font-size: 24px;
  text-transform: uppercase;
  color: white;
}
.footer a {
  width: max-content;
}
.footer .Github {
  text-align: center;
  font-size: 50px !important;
  color: crimson;
  margin: 0 !important;
}

/* ================================
============ Ind-Item =============
==================================*/

.Ind-Item {
  margin: 20vh auto;
  height: 40.25vh;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  height: max-content;
  margin-bottom: 0;
}

.Ind-Item .ind-item-img {
  width: 100%;
  height: 300px;
}

.Ind-Item .ind-item-img img {
  width: 100%;
  height: 100%;
}

.Ind-Item .ind-item-desc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ind-item-desc .ind-item-desc-heading h3 {
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0px;
}

.ind-item-desc .ind-item-desc-para p {
  font-size: 15px;
  margin: 5px 0px;
  color: #454545;
}

.ind-item-buy-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0px;
}

.ind-item-buy-buttons button {
  margin: 10px 0px;
  width: 90%;
  border-radius: 5px;
}

.ind-item-buy-buttons .add-to-cart {
  margin: 10px 0px;
  width: 90%;
  background: white;
  padding: 8px 0px;
  box-shadow: none !important;
  border: 2px solid black;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.2s ease;
}

.ind-item-buy-buttons .add-to-cart:hover {
  color: black;
  font-weight: 700;
}

.ind-item-buy-buttons .buy-it-now {
  margin: 10px 0px;
  width: 90%;
  background: black;
  padding: 8px 0px;
  box-shadow: none !important;
  color: white;
  border: 2px solid black;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.2s ease;
}
.ind-item-buy-buttons .buy-it-now:hover {
  background: rgb(22, 20, 20);
  border: 2px solid rgb(22, 20, 20);
}

.ind-item-desc-price {
  width: 100%;
  text-align: left;
  padding-left: 20px;
  margin: 5px 0px;
  color: #3e3a3a !important;
}

/*==================================
==========   MEDIA QUERIES   =======
================================= */

@media screen and (min-width: 400px) and (max-width: 600px) {
  .carousel-caption h3 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }

  nav {
    padding: 5px 5px !important;
    height: max-content !important;
    padding: 20px 0px !important;
  }

  .carousel-caption p {
    font-size: 20px;
    font-weight: 500;
    /* text-transform: uppercase; */
  }
  .Ind-Item {
    width: 80%;
  }
  .Ind-Item .ind-item-img {
    height: 500px;
  }
}

@media screen and (min-width: 600px) and (max-width: 992px) {
  nav {
    padding: 5px 5px !important;
    height: max-content !important;
    padding: 20px 0px !important;
  }

  .featured-card {
    width: 40% !important;
    margin: 4% auto;
    height: max-content;
  }

  .featuredCol-cards {
    margin: 2% auto;
  }
  .Gallery .photo_gallery .ind-pic {
    width: 45%;
    height: 500px;
    margin: 5px 1px;
  }
  .footer h4 {
    font-size: 25px;
  }
  .Ind-Item{
    justify-content: space-around;
  }
  .Ind-Item .ind-item-img {
    width: 47%;
    height: 330px;
  }
  .Ind-Item .ind-item-desc {
    width: 47%;
  }

}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .navbar-collapse.collapse .navbar-nav {
    width: 60% !important;
    margin: 0 auto;
  }
  nav {
    padding: 10px 10px !important;
    height: 80px !important;
  }
  .FeaturedCol h2 {
    font-size: 38px;
  }

  .featured-card {
    width: 35% !important;
    margin: 2% auto;
    height: max-content;
  }

  .featuredCol-cards {
    margin: 2% auto;
  }

  .Gallery .photo_gallery .ind-pic {
    width: 33%;
    height: 500px;
    margin: 5px 1px;
  }

  .footer h4 {
    font-size: 25px;
  }

  .Ind-Item{
    justify-content: space-around;
  }
  .Ind-Item .ind-item-img {
    width: 47%;
    height: 330px;
  }
  .Ind-Item .ind-item-desc {
    width: 47%;
  }
  .Ind-Item .ind-item-img{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Ind-Item .ind-item-img img{
    width: 50%;
  }

}

@media screen and (min-width: 1201px) {
  .carousel-caption h3 {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .navbar-collapse.collapse .navbar-nav {
    width: 45% !important;
    margin: 0 auto;
    padding: 0 2px;
  }
  nav {
    padding: 30px 20px !important;
  }
  .navbar-brand {
    margin-left: 100px !important;
    font-size: 30px;
  }
  .MuiSvgIcon-root {
    margin-right: 100px !important;
    font-size: 30px !important;
    transition: all 3s ease;
  }
  .MuiSvgIcon-root:hover {
    color: rgb(139, 119, 0);
  }
  .navbar-collapse.collapse a {
    color: black !important;
    font-size: 15px;
  }

  .featuredCol-cards {
    margin: 2% auto;
  }

  .featured-card {
    width: 21% !important;
    margin: 2% 5%;
    height: max-content;
  }

  .FeaturedCol h2 {
    font-size: 38px;
  }

  .feautured-cart {
    margin-right: 5px !important;
  }

  .Gallery .photo_gallery .ind-pic {
    width: 33%;
    height: 500px;
    margin: 5px 1px;
  }

  .Gallery .photo_gallery #img-1 {
    width: 25%;
    height: 600px;
  }

  .Gallery .photo_gallery #img-2 {
    width: 40%;
    height: 600px;
  }

  .Gallery .photo_gallery #img-3 {
    width: 30%;
    height: 600px;
  }

  .Gallery .photo_gallery #img-4 {
    width: 25%;
    height: 600px;
  }

  .Gallery .photo_gallery #img-5 {
    width: 40%;
    height: 600px;
  }
  .Gallery .photo_gallery #img-6 {
    width: 30%;
    height: 600px;
  }

  .footer h4 {
    font-size: 25px;
  }
  .Ind-Item{
    justify-content: space-around;
  }
  .Ind-Item .ind-item-img {
    width: 47%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Ind-Item .ind-item-desc {
    width: 47%;
  }
  .Ind-Item .ind-item-img img{
    width: 40%;
  }
}
